{% extends "bootstrap/base.html" %}

{% block title %}YMOJS 問題追加{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <h1>問題追加</h1><br>

        <!--入力内容に不備があった場合-->
        {% if (add_result is not none) and add_result %}
            <div class="alert alert-success">
                <p><b>問題が追加されました</b></p>
            </div>
        {% elif add_result is not none %}
            <div class="alert alert-danger">
                <p><b>問題追加に失敗しました</b></p>
                <ul>
                    <li>全て入力してください</li>
                </ul>
            </div>
        {% endif %}

        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">問題名</label>
                <input class="form-control" type="text" name="problem_name" id="problem_name">
            </div>

            <div class="form-group">
                <label class="control-label">配点</b></label>
                <input class="form-control" type="number" name="scoring" id="scoring">
            </div>

            <div class="form-group">
                <label class="control-label">公開時間</b></label><br>
                日付<input class="form-control" type="date" name="open_date" id="open_date"><br>
                時間<input class="form-control" type="time" name="open_time" id="open_time" step=1>
            </div>

            <div class="form-group">
                <label class="control-label">問題文(Markdown)</label>
                <textarea class="form-control" name="problem_body" id="problem_body" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label class="control-label">入力データ(.txt)</label>
                <input class="form-control" type="file" multiple name="input" id="input">
            </div>

            <div class="form-group">
                <label class="control-label">出力データ(.txt)</label>
                <input class="form-control" type="file" multiple name="output" id="output">
            </div>

            <p>※入力・出力データのファイル名が一致しているもの同士で判定が行われます</p>
            <p>※空行も判定対象になります</p><br>

            <div class="form-group">
                <label class="control-label">言語縛り</label><br>
                <select name="lang_rest" id="lang_rest" size="10" multiple>
                    <option>Python3</option>
                    <option>Java</option>
                    <option>C</option>
                    <option>C++</option>
                </select>
            </div><br>

            <div class="form-group">
                <label class="control-label">部分点データ(Json)</label>
                <textarea class="form-control" name="score_data" id="score_data" rows="10">{
    "testcase": {
        "test_a": {
            "score": 100,
            "case_list": ["test_a", "test_bl"]
        }
    }
}</textarea>
            </div>

            <button class="btn btn-primary">問題追加</button>
        </form>

        <br><br>
        <p>未登録の場合は<a href="/yuge_micom_ojs/register">ユーザ登録</a>を行ってください</p>
    </div>
</body>

{% endblock %}
