{% extends "bootstrap/base.html" %}

{% block title %}YMOJS パスワード変更{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">パスワード変更</div>
            <div class="panel-body">
                <!--更新成功時に表示-->
                {% if change_succeeded is not none%}
                    {% if change_succeeded %}
                        <div class="alert alert-success">
                            <p><b>正常に変更されました</b></p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            <p><b>変更に失敗しました</b></p>
                            <ul>
                                <li>全て入力してください</li>
                                <li>現在のパスワードを間違えていないか確認してください</li>
                                <li>確認用のパスワードを間違えていないか確認してください</li>
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}


                <form action="#" method="POST">
                    <div class="form-group">
                        <label class="control-label">現在のパスワード</label>
                        <input class="form-control" type="password" id="old_password" name="old_password">
                    </div>

                    <div class="form-group">
                        <label class="control-label">新しいパスワード(半角英数字8文字以上)</label>
                        <input class="form-control" type="password" id="new_password" name="new_password">
                    </div>

                    <div class="form-group">
                        <label class="control-label">新しいパスワード(確認用)</label>
                        <input class="form-control" type="password" id="new_password_conf" name="new_password_conf">
                    </div>

                    <br><button class="btn btn-primary">更新</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
