{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <font size="6">{{ contest_data.name }} </font>
        {{ contest_data.start_time }} ~ {{ contest_data.end_time }}<br><br>

        <form action="#" method="post" style="display: inline">
            <button class="btn btn-primary" id="update_rate" name="update_rate" value="update_rate">レート更新</button>
        </form><br><br>


        <!--タブ-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#problems" data-toggle="tab">問題</a></li>
            <li><a href="#ranking" data-toggle="tab">ランキング</a><li>
        </ul>

        <!--タブの要素-->
        <div class ="tab-content">
            <!--問題一覧-->
            <div class="tab-pane active" id="problems">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- テーブルの外側の罫線だけ表示 -->
                        <style type="text/css">
                            table { border: 1px solid #DDD; }
                            td { border-width: 0; }
                        </style>

                        <!--問題一覧をテーブルで表示-->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>問題名</th>
                                    <th>配点</th>
                                    <th><div class="text-center">ジャッジステータス</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problem in problem_list %}
                                    <tr>
                                        <td><a href={{ "/yuge_micom_ojs/problem/" + problem.id }}>{{ problem.name }}</a></td>
                                        <td>{{ problem.scoring }}</td>

                                        <!--ステータスによってラベルを変える-->
                                        {% if problem.status == "AC" %}
                                            <td><div class="text-center"><span class="label label-success">{{ problem.status }}</span></div></td>
                                        {% elif problem.status == "WJ" or problem.status == "未提出" %}
                                            <td><div class="text-center"><span class="label label-default">{{ problem.status }}</span></div></td>
                                        {% elif problem.status == "IE" %}
                                            <td><div class="text-center"><span class="label label-danger">{{ problem.status }}</span></div></td>
                                        {% else %}
                                            <td><div class="text-center"><span class="label label-warning">{{ problem.status }}</span></div></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--ランキング-->
            <div class="tab-pane" id="ranking">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- テーブルの外側の罫線だけ表示 -->
                        <style type="text/css">
                            table { border: 1px solid #DDD; }
                            td { border-width: 0; }
                        </style>

                        <!--ランキングをテーブルで表示-->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>順位</th>
                                    <th>ユーザ名</th>
                                    <th>得点</th>
                                    <th>経過時間</th>
                                    {% for problem in problem_list %}
                                        <th><div class="text-center"><a href={{ "/yuge_micom_ojs/problem/" + problem.id }}>{{ problem.name }}</a></div></th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <!--ランキングテーブル表示-->
                                {% for elem in ranking_list %}
                                    <tr>
                                        <td>{{ loop.index0 + 1 }}</td>
                                        <td><b>{{ elem.user_id }}</b></td>
                                        <td>{{ elem.score }}</td>
                                        <td>{{ elem.submission_time }}</td>

                                        <!--ユーザの提出状況を表示-->
                                        {% for problem in problem_list %}
                                            <!--ステータスによってラベルを変える-->
                                            {% set problem_status = submission_data[elem.user_id][problem.id] %}
                                            {% if problem_status == "AC" %}
                                                <td><div class="text-center"><span class="label label-success">{{ problem_status }}</span></div></td>
                                            {% elif problem_status == "WJ" %}
                                                <td><div class="text-center"><span class="label label-default">{{ problem_status }}</span></div></td>
                                            {% elif problem_status == "IE" %}
                                                <td><div class="text-center"><span class="label label-danger">{{ problem_status }}</span></div></td>
                                            {% elif problem_status|length == 0 %}
                                                <td><div class="text-center"><span class="label label-default">未提出</span></div></td>
                                            {% else %}
                                                <td><div class="text-center"><span class="label label-warning">{{ problem_status }}</span></div></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
