{% extends "bootstrap/base.html" %}

{% block title %}YMOJS {{ contest_data.name }}{% endblock %}

{% block content %}

<!--URLから開くタブを選択する-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(
        function(){
            var tabName = document.location.hash;
            if(tabName){
                $('.nav-tabs a[href="' + tabName + '"]').tab('show');
            }
        }
    );
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
</script>

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <link id="contest_top_css" rel="stylesheet" href={{ url_for("static", filename="markdown_view.css") }}>

    <!--メインコンテンツ-->
    <div class="container">
        <font size="6">{{ contest_data.name }} </font>
        {{ contest_data.start_time }} ~ {{ contest_data.end_time }}<br>
        レート変動 : ~ {{ contest_data.rate_limit }}<br><br>

        {% if is_admin %}
            <form action="#" method="post" style="display: inline">
                <button class="btn btn-primary" id="update_rate" name="update_rate" value="update_rate">レート更新</button>
            </form><br><br>
        {% endif %}


        <!--タブ-->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#top" data-toggle="tab">トップ</a></li>
            <li><a href="#problems" data-toggle="tab">問題</a></li>
            <li><a href="#hint" data-toggle="tab">ヒント</a></li>
            <li><a href="#ranking" data-toggle="tab">ランキング</a></li>
        </ul>

        <!--タブの要素-->
        <div class ="tab-content">
            <!--トップページ-->
            <div class="tab-pane active" id="top">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="top_body">
                            {{ contest_top }}
                        </div>
                    </div>
                </div>
            </div>

            <!--問題一覧-->
            <div class="tab-pane" id="problems">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- テーブルの外側の罫線だけ表示 -->
                        <style type="text/css">
                            table { border: 1px solid #DDD; }
                            td { border-width: 0; }
                        </style>

                        <!--問題一覧をテーブルで表示-->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><div class="text-center">#</div></th>
                                    <th>問題名</th>
                                    <th><div class="text-center">配点</div></th>
                                    <th><div class="text-center">ジャッジステータス</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set alphabet_list = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                                {% for problem in problem_list %}
                                    <tr>
                                        <td><div class="text-center">{{ alphabet_list[loop.index0] }}</div></td>
                                        <td><a href={{ "/yuge_micom_ojs/problem/" + problem.id }}>{{ problem.name }}</a></td>
                                        <td><div class="text-center">{{ problem.scoring }}</div></td>

                                        <!--ステータスによってラベルを変える-->
                                        {% if problem.status == "AC" %}
                                            <td><div class="text-center"><span class="label label-success">{{ problem.status }}</span></div></td>
                                        {% elif problem.status == "WJ" or problem.status == "未提出" %}
                                            <td><div class="text-center"><span class="label label-default">{{ problem.status }}</span></div></td>
                                        {% elif problem.status == "IE" %}
                                            <td><div class="text-center"><span class="label label-danger">{{ problem.status }}</span></div></td>
                                        {% else %}
                                            <td><div class="text-center"><span class="label label-warning">{{ problem.status }}</span></div></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--ヒント一覧-->
            <div class="tab-pane" id="hint">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for hint in hint_info_list %}
                            <!--ヒント-->
                            <div class="panel panel-info">
                                <div class="panel-heading clearfix">        <!--ヘッダー-->
                                    <div class="panel-title pull-left" style="padding-top: 7.5px;">
                                        {{ hint.title + " (" + hint.score|string + "点)" }}
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-info" href="#" data-toggle="modal" data-target={{ "#hint_" + hint.hint_id }}>
                                            {{ "開封済み" if hint.open_flag else "開封" }}
                                        </button>
                                    </div>
                                </div>
                                {% if hint.open_flag %}
                                    <div class="panel-body">                <!--ボディ-->
                                        {{ hint.body }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!--ランキング-->
            <div class="tab-pane" id="ranking">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- テーブルの外側の罫線だけ表示 -->
                        <style type="text/css">
                            table { border: 1px solid #DDD; }
                            td { border-width: 0; }
                        </style>

                        <!--ランキングをテーブルで表示-->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><div class="text-center">順位</div></th>
                                    <th><div class="text-center">ユーザ名</div></th>
                                    <th><div class="text-center">得点</div></th>
                                    <th><div class="text-center">経過時間</div></th>
                                    {% for problem in problem_list %}
                                        <th><div class="text-center"><a href={{ "/yuge_micom_ojs/problem/" + problem.id }}>{{ problem.name }}</a></div></th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <!--ランキングテーブル表示-->
                                {% for elem in ranking_list %}
                                    <tr>
                                        <td><div class="text-center">{{ loop.index0 + 1 }}</div></td>
                                        <td><b><div class="text-center">{{ elem.user_name }}</div></b></td>
                                        <td><div class="text-center">{{ elem.score }}</div></td>
                                        <td><div class="text-center">{{ elem.submission_time }}</div></td>

                                        <!--ユーザの提出状況を表示-->
                                        {% for problem in problem_list %}
                                            <!--ステータスによってラベルを変える-->
                                            {% set problem_status = submission_data[elem.user_id][problem.id] %}
                                            {% if problem_status == "AC" %}
                                                <td><div class="text-center"><span class="label label-success">{{ problem_status }}</span></div></td>
                                            {% elif problem_status == "WJ" %}
                                                <td><div class="text-center"><span class="label label-default">{{ problem_status }}</span></div></td>
                                            {% elif problem_status == "IE" %}
                                                <td><div class="text-center"><span class="label label-danger">{{ problem_status }}</span></div></td>
                                            {% elif problem_status|length == 0 %}
                                                <td><div class="text-center"><span class="label label-default">未提出</span></div></td>
                                            {% else %}
                                                <td><div class="text-center"><span class="label label-warning">{{ problem_status }}</span></div></td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ヒント開封確認モーダル-->
    {% for hint in hint_info_list %}
        {% if not hint.open_flag %}
            <div class="modal fade" id={{ "hint_" + hint.hint_id }} tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modal-label">開封確認 ({{ hint.title }})</h4>
                        </div>

                        <div class="modal-body">
                            本当に開封して良いですか？<br>
                            <b>※ヒントに応じた減点があります※</b>
                        </div>

                        <div class="modal-footer">
                            <form action="#" method="post" style="display: inline">
                                <button class="btn btn-info" name="hint_open" value={{ hint.hint_id|string }}>開封</button>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

</body>

{% endblock %}
