{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS Register{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <h1>問題編集</h1><br>

        <!--入力内容に不備があった場合-->
        {% if (update_result is not none) and update_result %}
            <div class="alert alert-success">
                <p><b>正常に更新されました</b></p>
            </div>
        {% elif update_result is not none %}
            <div class="alert alert-danger">
                <p><b>更新に失敗しました</b></p>
                <ul>
                    <li>全て入力してください</li>
                </ul>
            </div>
        {% endif %}

        <form action="#" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">問題ID</label>
                <p>{{ problem.id }}</p>
            </div>

            <div class="form-group">
                <label class="control-label">問題名</label>
                <input class="form-control" type="text" name="problem_name" id="problem_name" value="{{ problem.name }}">
            </div>

            <div class="form-group">
                <label class="control-label">配点</b></label>
                <input class="form-control" type="number" name="scoring" id="scoring" value={{ problem.scoring }}>
            </div>

            <div class="form-group">
                <label class="control-label">公開時間</b></label><br>
                日付<input class="form-control" type="date" name="open_date" id="open_date" value={{ problem.open_time.split()[0] }}><br>
                時間<input class="form-control" type="time" name="open_time" id="open_time" step=1 value={{ problem.open_time.split()[1] }}>
            </div>

            <div class="form-group">
                <label class="control-label">問題文(Markdown)</label>
                <textarea class="form-control" name="problem_body" id="problem_body" rows="10" value=>{{ problem_body }}</textarea>
            </div>

            <div class="form-group">
                <label class="control-label">削除する入力ファイル</label><br>
                <select name="rm_input" id="rm_input" size="10" multiple>
                    {% for file in input_file_list %}
                        <option value={{ file.as_posix().split("/")[-1].split(".")[0] }}>{{ file.as_posix().split("/")[-1] }}</option>
                    {% endfor %}
                </select>
            </div><br>

            <div class="form-group">
                <label class="control-label">削除する出力ファイル</label><br>
                <select name="rm_output" id="rm_output" size="10" multiple>
                    {% for file in output_file_list %}
                        <option value={{ file.as_posix().split("/")[-1].split(".")[0] }}>{{ file.as_posix().split("/")[-1] }}</option>
                    {% endfor %}
                </select>
            </div><br>

            <div class="form-group">
                <label class="control-label">入力データ(.txt)</label>
                <input class="form-control" type="file" multiple name="input" id="input">
            </div><br>

            <div class="form-group">
                <label class="control-label">出力データ(.txt)</label>
                <input class="form-control" type="file" multiple name="output" id="output">
            </div><br>

            <div class="form-group">
                <label class="control-label">言語縛り</label><br>
                <select name="lang_rest" id="lang_rest" size="10" multiple>
                    {% set lang_list = ["Python3", "Java", "C", "C++"] %}
                    {% for lang in lang_list %}
                        {% if lang in problem.lang_rest %}
                            <option selected>{{ lang }}</option>
                        {% else %}
                            <option>{{ lang }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div><br>

            <div class="form-group">
                <label class="control-label">テストケースデータ(Json)</label>
                <textarea class="form-control" name="test_case_data" id="test_case_data" rows="10">{{ problem_test_case_data }}</textarea>
            </div>

            <button class="btn btn-primary">問題更新</button>
        </form>

        <br><br>
        <p>未登録の場合は<a href="/yuge_micom_ojs/register">ユーザ登録</a>を行ってください</p>
    </div>
</body>

{% endblock %}
