{% extends "bootstrap/base.html" %}

{% block title %}YMOJS コンテスト編集{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <h1>コンテスト編集</h1><br>

        <!--入力内容に不備があった場合-->
        {% if (update_result is not none) and (update_result) %}
            <div class="alert alert-success">
                <p><b>正常に更新されました</b></p>
            </div>
        {% elif update_result is not none %}
            <div class="alert alert-danger">
                <p><b>更新が失敗しました</b></p>
                <ul>
                    <li>全て入力してください</li>
                </ul>
            </div>
        {% endif %}

        <form action="#" method="post">
            <div class="form-group">
                <label class="control-label" >コンテストID</label>
                <p>{{ contest.id }}</p>
            </div>

            <div class="form-group">
                <label class="control-label">コンテスト名</label>
                <input class="form-control" type="text" name="contest_name" id="contest_name" value="{{ contest.name }}">
            </div><br>

            <div class="form-group">
                <label class="control-label">コンテスト情報</label>
                <textarea class="form-control" name="contest_top" id="contest_top" rows="10" value=>{{ contest_top }}</textarea>
            </div>

            <div class="form-group">
                <label class="control-label">開始時間</b></label><br>
                日付
                <input class="form-control" type="date" name="start_date" id="start_date" value={{ contest.start_time.split()[0] }}><br>
                時間
                <input class="form-control" type="time" name="start_time" id="start_time" step=1 value={{ contest.start_time.split()[1] }}>
            </div><br>

            <div class="form-group">
                <label class="control-label">終了時間</b></label><br>
                日付
                <input class="form-control" type="date" name="end_date" id="end_date" value={{ contest.end_time.split()[0] }}><br>
                時間
                <input class="form-control" type="time" name="end_time" id="end_time" step=1 value={{ contest.end_time.split()[1] }}>
            </div><br>

            <div class="form-group">
                <label class="control-label">レート付与上限</label>
                <input class="form-control" type="number" name="rate_limit" id="rate_limit" value={{ contest.rate_limit }}>
            </div><br>

            <div class="form-group">
                <label class="control-label">問題選択</label><br>
                <select name="problems" id="problems" size="10" multiple>
                    {% for problem in all_problems %}
                        {% if problem.id in contest.problems %}
                            <option value={{ problem.id }} selected>{{ problem.name }}</option>
                        {% else %}
                            <option value={{ problem.id }}>{{ problem.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div><br>

            <div class="form-group">
                <label class="control-label">ヒント情報</label>
                <textarea class="form-control" name="hint_info" id="hint_info" rows="10">{{ hint_json_str }}</textarea>
            </div>


            <button class="btn btn-primary">コンテスト更新</button>
        </form>

        <br><br>
    </div>
</body>

{% endblock %}
