{% extends "bootstrap/base.html" %}

{% block title %}YMOJS ユーザ登録{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <h1>ユーザ登録</h1><br>

        <!--入力内容に不備があった場合-->
        {% if inp_failed == "Failed" %}
            <div class="alert alert-danger">
                <p><b>ユーザ登録に失敗しました</b></p>
                <ul>
                    <li>確認用のパスワードが間違っていないか確認してください</li>
                    <li>IDを別のものに変更してみてください</li>
                    <li>アンダーバーは使用できません</li>
                </ul>
            </div>
        {% endif %}

        {% if not register_rest %}
            <form action="#" method="post">
                <div class="form-group">
                    <label class="control-label">ユーザID(半角英数)</label>
                    <input class="form-control" type="text" name="user_id" id="user_id">
                </div>

                <div class="form-group">
                    <label class="control-label">ニックネーム</label>
                    <input class="form-control" type="text" name="user_name" id="user_name">
                </div>

                <div class="form-group">
                    <label class="control-label">パスワード(半角英数8文字以上)</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>

                <div class="form-group">
                    <label class="control-label">パスワード(確認用)</b></label>
                    <input class="form-control" type="password" name="password_conf" id="password_conf">
                </div>

                <button class="btn btn-primary">登録</button>
            </form>
        {% else %}
            <!--新規登録を受け付けていない場合-->
            <p>現在ユーザの新規登録を受け付けていません<p>
        {% endif %}
    </div>
</body>

{% endblock %}
