{% extends "bootstrap/base.html" %}

{% block title %}YMOJS 提出詳細{% endblock %}

{% block content %}

<head>
    <!--Code-Pretty-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">提出情報</div>
            <div class="panel-body">
                <!--2段組レイアウト-->
                <div class="row">
                    <div class="col-md-6">
                        <label>問題</label>
                        <p><a href={{ "/yuge_micom_ojs/problem/" + submission_data.problem_id}}>{{ submission_data.problem_name }}</a></p><br>

                        <label>提出ユーザ</label>
                        <p>{{ submission_data.user_id }}</p><br>

                        <label>提出日時</label>
                        <p>{{ submission_data.date }}</p>
                    </div>

                    <div class="col-md-6">
                        <label>スコア</label>
                        <p>{{ submission_data.score }}</p><br>

                        <label>提出言語</label>
                        <p>{{ submission_data.lang }}</p><br>

                        <label>ジャッジステータス</label>
                        <!--ステータスによってラベルを変える-->
                        {% set status = submission_data.status %}
                        {% if status == "AC" %}
                            <td><h3><span class="label label-success">{{ status }}</span></h3></td>
                        {% elif status == "WJ" %}
                            <td><h3><span class="label label-default">{{ status }}</span></h3></td>
                        {% elif status == "IE" %}
                            <td><h3><span class="label label-danger">{{ status }}</span></h3></td><br>
                            <div class="alert alert-danger">
                                <p><b>サーバエラーが発生しました</b></p>
                                <p>システム運営者にリジャッジを申請してください</p>
                            </ul>
                        {% else %}
                            <td><h3><span class="label label-warning">{{ status }}</span></h3></td>
                        {% endif %}
                        <br>

                        <!--管理者がページにアクセスしたとき-->
                        {% if is_admin %}
                            <label>リジャッジボタン(ボタンを押すとすぐにリジャッジが行われます)</label>
                            <form action="#" method="post">
                                <button class="btn btn-warning" id="rejudge" name="rejudge" value="do_rejudge">リジャッジ</button>
                            </form><br>

                            <!--削除ボタンが押されたら確認モーダルが起動する-->
                            <label>提出削除ボタン</label><br>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#conf_rm_submission">提出削除</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- テーブルの外側の罫線だけ表示 -->
    <style type="text/css">
        table { border: 1px solid #DDD; }
        td { border-width: 0; }
    </style>

    <!--ジャッジ詳細-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">ジャッジ詳細</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-2">テストケース</th>
                            <th class="col-xs-1">入力</th>
                            <th class="col-xs-6"><div class="text-center">ステータス</div></th>
                            <th class="col-xs-3">実行詳細</th>
                        </tr>
                    <thead>
                    <tbody>
                        {% for i in range(1, submission_data.detail|length + 1) %}
                            <tr>
                                <!--テストケース名-->
                                {% set test_case_name = submission_data.detail[(i-1)|string].test_case_name %}
                                <td>{{ test_case_name }}</td>
                                <td><a href={{ "/yuge_micom_ojs/input_data/" + submission_data.problem_id + "/" + test_case_name }}>入力データ</a></td>

                                <!--ステータスによってラベルを変える-->
                                {% set status = submission_data.detail[(i-1)|string].status %}
                                {% if status == "AC" %}
                                    <td><div class="text-center"><span class="label label-success">{{ status }}</span></div></td>
                                {% elif status == "WJ" %}
                                    <td><div class="text-center"><span class="label label-default">{{ status }}</span></div></td>
                                {% elif status == "IE" %}
                                    <td><div class="text-center"><span class="label label-danger">{{ status }}</span></div></td>
                                {% else %}
                                    <td><div class="text-center"><span class="label label-warning">{{ status }}</span></div></td>
                                {% endif %}

                                <td><a href="#" data-toggle="modal" data-target={{ "#code_detail_" + i|string }}>詳細</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--実行詳細表示モーダル-->
    {% for i in range(1, submission_data.detail|length + 1) %}
        {% set test_case_name = submission_data.detail[(i-1)|string].test_case_name %}
        <div class="modal fade" id={{ "code_detail_" + i|string }} tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal-label">{{ "実行詳細 (" + test_case_name + ")" }}</h4>
                    </div>

                    <div class="modal-body">
                        {% if open_code or is_admin %}
                            <pre><code class="prettyprint">{{ submission_data.detail[(i-1)|string].err_msg }}</code></pre>
                        {% else %}
                            <div class="alert alert-warning">
                                <b>実行詳細は非公開です</b>
                            </div>
                        {% endif %}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!--削除確認モーダル-->
    {% if is_admin %}
        <div class="modal fade" id="conf_rm_submission" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal-label">削除確認</h4>
                    </div>

                    <div class="modal-body">
                        <p>この提出を削除しますか？</p>
                        <p><b>※この操作は取り消せません※</b></p>
                    </div>

                    <div class="modal-footer">
                        <form action="#" method="post" style="display: inline">
                            <button class="btn btn-danger" id="rm_submission" name="rm_submission" value="rm_submission">削除</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--コード表示用スタイル設定-->
    <style type="text/css">
        .prettyprint {
            white-space: pre;
            overflow: auto;
        }
        .prettyprint ol.linenums > li {
            list-style-type: decimal;
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">提出コード</div>
            <div class="panel-body">
                {% if open_code or is_admin %}
                    <pre><code class="prettyprint linenums">{{ code }}</code></pre>
                {% else %}
                    <div class="alert alert-warning">
                        <p><b>コードは非公開です</b></p>
                    </ul>
                {% endif %}
            </div>

            </div>
        </div>
    </div>
</body>

{% endblock %}
