{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">提出状況</div>
            <div class="panel-body">
                <!-- テーブルの外側の罫線だけ表示 -->
                <style type="text/css">
                    table { border: 1px solid #DDD; }
                    td { border-width: 0; }
                </style>

                <!--now_pageの値が正常なものでない場合に警告を出す-->
                {% if submission_data[(now_page-1)*15: now_page*15] | length == 0 %}
                    <div class="alert alert-danger">
                        <p><b>データエラー</b></p>
                        <ul>
                            <li>URLが正しいか確認してください</li>
                        </ul>
                    </div>
                {% endif %}

                <!--提出一覧をテーブルで表示-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>提出時間</th>
                            <th>問題</th>
                            <th><div class="text-center">提出ユーザ</div></th>
                            <th><div class="text-center">ジャッジステータス</div></th>
                            <th>言語</th>
                            <th>詳細</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data in submission_data[(now_page-1)*15: now_page*15] %}
                            <tr>
                                <td>{{ data.date }}</td>
                                <td><a href={{ "/yuge_micom_ojs/problem/" + data.problem_id }}>{{ data.problem_name }}</a></td>
                                <td><div class="text-center">{{ data.user_name }}</div></td>

                                <!--ステータスによってラベルを変える-->
                                {% if data.status == "AC" %}
                                    <td><div class="text-center"><span class="label label-success">{{ data.status }}</span></div></td>
                                {% elif data.status == "WJ" %}
                                    <td><div class="text-center"><span class="label label-default">{{ data.status }}</span></div></td>
                                {% elif data.status == "IE" %}
                                    <td><div class="text-center"><span class="label label-danger">{{ data.status }}</span></div></td>
                                {% else %}
                                    <td><div class="text-center"><span class="label label-warning">{{ data.status }}</span></div></td>
                                {% endif %}

                                <td>{{ data.lang }}</td>
                                <td><a href={{ "/yuge_micom_ojs/submission/" + data.id }}>詳細</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--ページャー-->
                <nav>
                    <div style="text-align:center">
	                    <ul class="pagination">
                            {% set start = [1, now_page-3] | max %}
                            {% set end = [now_page+4, (submission_data | length)//15+2] | min %}
                            {% for num in range(start, end) %}
                                {% if num == now_page %}
                                    <li class="active"><a href={{ "?page=" ~ num }}>{{ num }}</a></li>
                                {% else %}
                                    <li><a href={{ "?page=" ~ num }}>{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

{% endblock %}
