{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<!--Websocket-->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    // サーバ接続
    // {transports: ["websocket"]}
    var socket = io.connect(null, {port: location.port, rememberTransport: false});

    // ジャッジステータス更新
    socket.on("update_judge_status", function(submission_id, judge_status){
        // ステータスによって表示するラベルを変える
        var label_type = ""
        if(judge_status === "AC"){
            label_type = "<span class=\"label label-success\">AC</span>";
        }else if(judge_status === "WJ"){
            label_type = "<span class=\"label label-default\">WA</span>";
        }else if(judge_status === "IE"){
            label_type = "<span class=\"label label-danger\">IE</span>";
        }else if(judge_status === "SJ"){
            label_type = "<img src=\"/yuge_micom_ojs/static/wj.svg\">"
        }else{
            label_type = "<span class=\"label label-warning\">" + judge_status + "</span>";
        }

        var label = document.getElementById("label_" + submission_id)
        label.innerHTML = label_type
    });
</script>

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">提出状況</div>
            <div class="panel-body">
                <!-- テーブルの外側の罫線だけ表示 -->
                <style type="text/css">
                    table { border: 1px solid #DDD; }
                    td { border-width: 0; }
                </style>

                <!--now_pageの値が正常なものでない場合に警告を出す-->
                {% if submission_data[(now_page-1)*15: now_page*15] | length == 0 %}
                    <div class="alert alert-danger">
                        <p><b>データエラー</b></p>
                        <ul>
                            <li>URLが正しいか確認してください</li>
                        </ul>
                    </div>
                {% endif %}

                <!--提出一覧をテーブルで表示-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>提出時間</th>
                            <th>問題</th>
                            <th><div class="text-center">提出ユーザ</div></th>
                            <th><div class="text-center">ステータス</div></th>
                            <th><div class="text-center">スコア</th>
                            <th>言語</th>
                            <th>詳細</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data in submission_data[(now_page-1)*15: now_page*15] %}
                            <tr>
                                <td>{{ data.date }}</td>

                                <!--問題公開時間を過ぎているか-->
                                {% if (now_time < data.open_time) and (not is_special) and (data.user_id != session) %}
                                    <td>＊＊＊＊＊</td>
                                    <td><div class="text-center">＊＊＊＊＊</div></td>
                                {% else %}
                                    <td><a href={{ "/yuge_micom_ojs/problem/" + data.problem_id }}>{{ data.problem_name }}</a></td>
                                    <td><div class="text-center">{{ data.user_name }}</div></td>
                                {% endif %}

                                <!--ステータスによってラベルを変える-->
                                <td><div class="text-center" id={{ "label_" + data.id }} name={{ "label_" + data.id }}>
                                    {% if data.status == "AC" %}
                                        <span class="label label-success">{{ data.status }}</span>
                                    {% elif data.status == "WJ" %}
                                        <span class="label label-default">{{ data.status }}</span>
                                    {% elif data.status == "IE" %}
                                        <span class="label label-danger">{{ data.status }}</span>
                                    {% elif data.status == "SJ" %}
                                        <img src="/yuge_micom_ojs/static/wj.svg">
                                    {% else %}
                                        <span class="label label-warning">{{ data.status }}</span>
                                    {% endif %}
                                </div></td>

                                <!--問題公開時間を過ぎているか-->
                                {% if (now_time < data.open_time) and (not is_special) and (data.user_id != session) %}
                                    <td><div class="text-center">＊</div></td>
                                    <td>＊＊＊</td>
                                    <td>詳細</td>
                                {% else %}
                                    <td><div class="text-center">{{ data.score }}</div></td>
                                    <td>{{ data.lang }}</td>
                                    <td><a href={{ "/yuge_micom_ojs/submission/" + data.id }}>詳細</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!--ページャー-->
                <nav>
                    <div style="text-align:center">
	                    <ul class="pagination">
                            <!--始点と終点-->
                            {% set start = [1, now_page-3] | max %}
                            {% set end = (submission_data | length)//15+1 %}
                            <li><a href="?page=1">＜＜</a></li>

                            <!--最大7つ-->
                            {% for i in range(7) %}
                                {% set num = start + i %}
                                {% if num <= end %}
                                    {% if num == now_page %}
                                        <li class="active"><a href={{ "?page=" ~ num }}>{{ num }}</a></li>
                                    {% else %}
                                        <li><a href={{ "?page=" ~ num }}>{{ num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li><a href={{ "?page=" + end|string }}>＞＞</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

{% endblock %}
