{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">レート</div>
            <div class="panel-body">
                <h2>レート：<b>{{ rate }}</b></h2>
                <p>レート機能は<b>仮実装</b>です。仕様が変更される場合があります。</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">設定</div>
            <div class="panel-body">
                <!--更新成功時に表示-->
                {% if update_succeeded is not none%}
                    {% if update_succeeded %}
                        <div class="alert alert-success">
                            <p><b>正常に更新されました</b></p>
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            <p><b>更新に失敗しました</b></p>
                            <ul>
                                <li>全て入力してください</li>
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}


                <form action="#" method="POST">
                    <!--ユーザID-->
                    <div class="form-group">
                        <label class="control-label">ユーザID</label>
                        <p>{{ user.id }}</p>
                    </div>

                    <!--ユーザ名-->
                    <div class="form-group">
                        <label class="control-label">ニックネーム</label>
                        <input class="form-control" type="text" id="name" name="name" value={{ user.name }}>
                    </div>

                    <!--コードを公開するか-->
                    <div class="form-group">
                        <label class="control-label">提出コードの公開</label>
                        <div class="radio">
                            {% if user.open_code %}
                                <label><input type="radio" id="open_code" name="open_code" checked="checked" value="1">する</label>
                                <label><input type="radio" id="open_code" name="open_code" value="0">しない</label>
                            {% else %}
                                <label><input type="radio" id="open_code" name="open_code" value="1">する</label>
                                <label><input type="radio" id="open_code" name="open_code" checked="checked" value="0">しない</label>
                            {% endif %}
                        </div>
                    </div>

                    <!--admin用メニュー-->
                    {% if user.position == "admin" %}
                    <br><p><a href="/yuge_micom_ojs/control_panel">コントロールパネル</a></p>
                    {% endif %}

                    <!--パスワード変更-->
                    <br><p>パスワードの変更は<a href="/yuge_micom_ojs/change_password">こちら</a>から行ってください</p><br>

                    <button class="btn btn-primary">更新</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
