{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">開始予定のコンテスト一覧</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>コンテスト名</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                    </tr>
                </thead>

                <tbody>
                    {% for contest in future_contest %}
                        <tr>
                            <td><a href={{ "/yuge_micom_ojs/contest/" + contest.id }}>{{ contest.name }}</a></td>
                            <td>{{ contest.start_time }}</td>
                            <td>{{ contest.end_time }}</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">開催中のコンテスト一覧</div>
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>コンテスト名</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                    </tr>
                </thead>

                <tbody>
                    {% for contest in now_contest %}
                        <tr>
                            <td><a href={{ "/yuge_micom_ojs/contest/" + contest.id }}>{{ contest.name }}</a></td>
                            <td>{{ contest.start_time }}</td>
                            <td>{{ contest.end_time }}</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">過去のコンテスト一覧</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>コンテスト名</th>
                        <th>開始時間</th>
                        <th>終了時間</th>
                    </tr>
                </thead>

                <tbody>
                    {% for contest in past_contest %}
                        <tr>
                            <td><a href={{ "/yuge_micom_ojs/contest/" + contest.id }}>{{ contest.name }}</a></td>
                            <td>{{ contest.start_time }}</td>
                            <td>{{ contest.end_time }}</td>
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

{% endblock %}
