{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS Home{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Yuge Micom Online Judge Systemへようこそ</h3></div>
            <div class="panel-body">
                <p>Yuge Micom Online Judge Systemは現在開発中です！</p>
                <p>実装予定</p>
                <ul>
                    <li>ログインフォーム</li>
                    <li>各コンテストトップページ</li>
                    <li>問題ページ</li>
                    <li>提出ページ</li>
                    <li>ジャッジ結果確認ページ</li>
                    <li>ランキングページ</li>
                    <li>ユーザページ</li>
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}
