{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">問題一覧</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>問題名</th>
                        <th>コンテスト</th>
                        <th>配点</th>
                        <th>ジャッジステータス<th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</body>

{% endblock %}
