{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">問題一覧</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>問題名</th>
                        <th>配点</th>
                        {% if session is not none %}
                            <th>ジャッジステータス</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problem_list %}
                        <tr>
                            <td><a href={{ "/yuge_micom_ojs/problem/" + problem.id }}>{{ problem.name }}</a></td>
                            <td>{{ problem.scoring }}</td>
                            {% if session is not none %}
                                <td>AC</td>
                            {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

{% endblock %}
