{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>問題文</b></div>
            <link rel="stylesheet" href={{ url_for("static", filename="problem_markdown.css") }}>
            <div class="panel-body">
                <div class="problem_body">
                    {{ problem_body }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>提出</b></div>
            <div class="panel-body">
                <form href="#" method="POST">
                    <div class="alert alert-danger">
                        <p><b>提出前に確認してください</b></p>
                        <ul>
                            <li>余計なコードは入っていませんか？(デバッグに使用したものなど)</li>
                            <li>提出要項が守られていますか？</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label class="control-label">提出言語</label>
                        <select class="form-control" style="width:25%;" id="submission_lang" name="submission_lang">
                            <option>Python3</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">提出コード</label>
                        <textarea class="form-control" name="submission_code" id="submission_code" rows="10"></textarea>
                    </div>
                    <button class="btn btn-primary">提出</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
