{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">提出状況</div>
            <div class="panel-body">
                <!-- テーブルの外側の罫線だけ表示 -->
                <style type="text/css">
                    table { border: 1px solid #DDD; }
                    td { border-width: 0; }
                </style>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>問題</th>
                            <th>提出日時</th>
                            <th>提出ユーザ</th>
                            <th>詳細</th>
                        <tr>
                    </thead>

                    {% for data in submission_data %}
                        <tbody>
                            <tr>
                                <td><a href={{ "/yuge_micom_ojs/problem/" + data.problem_id }}>{{ data.problem_name }}</a></td>
                                <td>{{ data.date }}</td>
                                <td>{{ data.user_id}}</td>
                                <td><a href={{ "/yuge_micom_ojs/submission/" + data.id }}>詳細</a></td>
                            </td>
                        </tbody>
                    {% endfor %}
                </table>

                <nav>
                    <div style="text-align:center">
	                    <ul class="pagination">
		                    <li><a href="#">1</a></li>
		                    <li class="active"><a href="#">2</a></li>
		                    <li><a href="#">3</a></li>
		                    <li><a href="#">4</a></li>
		                    <li><a href="#">5</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>

{% endblock %}
