{% extends "bootstrap/base.html" %}

{% block title %}YugeMicomOJS{% endblock %}

{% block content %}

<body>
    <!--ナビゲーションバー-->
    {% include "navigation.html" %}

    <!--メインコンテンツ-->
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">設定</div>
            <div class="panel-body">
                <form action="#" method="POST">
                    <!--ユーザID-->
                    <div class="form-group">
                        <label class="control-label">ユーザID</label>
                        <p>{{ user.id }}</p>
                    </div>

                    <!--ユーザ名-->
                    <div class="form-group">
                        <label class="control-label">ニックネーム</label>
                        <input class="form-control" type="text" value={{ user.name }}>
                    </div>

                    <!--コードを公開するか-->
                    <div class="form-group">
                        <label class="control-label">提出コードの公開</label>
                        <div class="radio">
                            {% if user.open_code %}
                                <label><input type="radio" name="radio" checked="checked">する</label>
                                <label><input type="radio" name="radio">しない</label>
                            {% else %}
                                <label><input type="radio" name="radio">する</label>
                                <label><input type="rasio" name="radio" checked="checked">しない</label>
                            {% endif %}
                        </div>
                    </div>

                    <!--パスワード変更-->
                    <br><p>パスワードの変更は<a href="/yuge_micom_ojs/change_password">こちら</a>から行ってください</p><br>

                    <button class="btn btn-primary">更新</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
